* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

#game-board-container {
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 15% 1fr 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#gm-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid blue;
    height: 100%;
    width: 100vw;
    grid-row: 1;
}

#add-remove-btns {
    display: flex;
    flex-direction: column;
}

#turn-results {
    border: 1px solid green;
    height: 100%;
    width: 85%;
    margin: 0 auto;
    grid-row: 2;
}

#game-table {
    border: 1px solid red;
    height: 100%;
    grid-row: 3;
    display: grid;
    grid-template-columns: 15% 20% 30% 20% 15%;
    grid-template-rows: 40% 20% 40%;
    /* justify-content: center;
    align-items: center; */
    
}

.gm-monsters {
    height: 50px;
    width: 100px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
}

option:before { content: "☐ " }
option:checked:before { content: "☑ " }

.gm-monster-stats {
    font-size: small;
}

#gm-monster-1 {
    grid-row: 1;
    grid-column: 2;
}
#gm-monster-2 {
    grid-row: 1;
    grid-column: 3;
}
#gm-monster-3 {
    grid-row: 1;
    grid-column: 4;
}

#table {
    grid-column: 1 / 5;
    grid-row: 1/4;
    border: 1px solid black;
    height: 50%;
    width: 75%;
    border-radius: 40%;
    position: relative;
    top: 25%;
    left: 20%;
} 

#user-panel {
    border: 1px solid orange;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

}

.btn {
    height: 50px;
    width: 75px;
    margin-top: 5px;
}